@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 20 14% 18%;
    --card: 60 56% 94%;
    --card-foreground: 20 14% 18%;
    --popover: 60 56% 94%;
    --popover-foreground: 20 14% 18%;
    --primary: 120 25% 65%;
    --primary-foreground: 120 25% 15%;
    --secondary: 60 30% 85%;
    --secondary-foreground: 20 14% 18%;
    --muted: 60 30% 85%;
    --muted-foreground: 60 10% 45%;
    --accent: 43 89% 38%;
    --accent-foreground: 43 25% 95%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 15% 80%;
    --input: 60 40% 96%;
    --ring: 120 25% 65%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14% 8%;
    --foreground: 60 56% 91%;
    --card: 20 14% 10%;
    --card-foreground: 60 56% 91%;
    --popover: 20 14% 8%;
    --popover-foreground: 60 56% 91%;
    --primary: 120 25% 55%;
    --primary-foreground: 120 25% 98%;
    --secondary: 20 14% 15%;
    --secondary-foreground: 60 56% 91%;
    --muted: 20 14% 15%;
    --muted-foreground: 60 10% 60%;
    --accent: 43 80% 48%;
    --accent-foreground: 43 25% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 14% 20%;
    --input: 20 14% 15%;
    --ring: 120 25% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
